.formIP {
    position: relative;
    display: inline-block;
}
.formIP input {
    position: relative;
    display: block;
    /* width: 10rem; */
    /* float: left; */
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* margin-left: -10rem; */
}

.formIP .buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}